---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section>
		<div>
			<p>Origen de Reserva</p>
			<p>El Alma de la Oscuridad</p>
			<p>
				Nacido de la mezcla volcánica y envejecido en el silencio de
				nuestras bodegas de obsidiana. Un tributo a la paciencia y en el
				arte del ron venezolano
				<button>Explorar Colección</button>
				<button>Nuestra Historia</button>
			</p>
		</div>
		<div>
			<img src="/foto1.png" alt="" />
		</div>
	</section>
	<section>
		<div>
			<img src="/foto2.png" alt="" />
			<div>
				<p>DENOMINACION DE ORIGEN CONTROLADA</p>
				<p>
					Cada gota de obsidian esta protegida por la ley. Nuestra
					certificación D.O.C garantiza que el ron ha sido envejecido
					en barricas de roble blanco por un minimo de dos años, sin
					reposición en mermas, capturando la esencia pura del terrior
					venezolano
				</p>
				<div>
					<div>100% CAÑA LOCAL</div>
					<div>40% ALC.VOL MIN.</div>

					<div>Nacional ORGULLO</div>
				</div>
			</div>
		</div>
	</section>
</Layout>