---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="text-black	 flex items-center p-24 dark:bg-neutral-950 dark:text-white">


		<div class="flex flex-col flex-1">
			<p class="">Origen de Reserva</p>
			<p class=" text-5xl font-bold">El Alma de la <br> Oscuridad</p>
			<p class=" py-6">
				Nacido de la mezcla volcánica y envejecido en el silencio de
			nuestras bodegas de obsidiana. Un tributo a la paciencia y en el
				arte del ron venezolano
			</p>
			<div class="flex gap-15">
				<button class="bg-amber-500 text-white py-2 px-4 rounded hover:bg-amber-600">Explorar Colección</button>
				<button class="bg-amber-500 text-white py-2 px-4 rounded hover:bg-amber-600">Nuestra Historia</button>
			</div>
		</div>


		<div class="flex-1">
			<img src="/foto1.png" class="w-full shadow-[0_0_700px] shadow-amber-500/30" alt="" />
		</div>


	</section>



	<section class="bg-surface-container-low px-12 py-12 text-black -50 bg-white[#000000] dark:bg-neutral-950">
		<div class="flex flex-1 items-center gap-12">
			<img class="w-72 h-72 shadow-[0_0_700px] shadow-amber-500/40" src="/foto2.png"alt="" />
			<div class="max-w-7xl mx-auto flex-col items-center p-24">
				<p class=" text-black text-4xl dark:text-white">DENOMINACION DE ORIGEN CONTROLADA</p>
				<p class="py-5 dark:text-white">
					Cada gota de obsidian esta protegida por la ley. Nuestra
					certificación D.O.C garantiza que el ron ha sido envejecido
					en barricas de roble blanco por un minimo de dos años, sin
					reposición en mermas, capturando la esencia pura del terrior
					venezolano
				</p>
				<div class="flex gap-12 mt-6">
					<div  class="bg-amber-500 text-white py-2 px-4 rounded hover:bg-amber-600">100% CAÑA LOCAL</div>
					<div  class="bg-amber-500 text-white py-2 px-4 rounded hover:bg-amber-600">40% ALC.VOL MIN.</div>

					<div class="bg-amber-500 text-white py-2 px-4 rounded hover:bg-amber-600">ORGULLO NACIONAL</div>
				</div>
			</div>
		</div>
	</section>
</Layout>