---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="text-white flex items-center p-24">


		<div class="flex flex-col flex-1">
			<p class="text-amber-200">Origen de Reserva</p>
			<p class="text-[#ffffff] text-5xl font-bold">El Alma de la <br> Oscuridad</p>
			<p class="text-white">
				Nacido de la mezcla volcánica y envejecido en el silencio de
			nuestras bodegas de obsidiana. Un tributo a la paciencia y en el
				arte del ron venezolano
			</p>
			<div>
				<button>Explorar Colección</button>
				<button>Nuestra Historia</button>
			</div>
		</div>


		<div class="flex-1">
			<img src="/foto1.png" class="w-full shadow-[0_0_800px] shadow-amber-500/40" alt="" />
		</div>


	</section>



	<section class="text-white">
		<div>
			<img src="/foto2.png" alt="" />
			<div>
				<p class="text-amber-200">DENOMINACION DE ORIGEN CONTROLADA</p>
				<p>
					Cada gota de obsidian esta protegida por la ley. Nuestra
					certificación D.O.C garantiza que el ron ha sido envejecido
					en barricas de roble blanco por un minimo de dos años, sin
					reposición en mermas, capturando la esencia pura del terrior
					venezolano
				</p>
				<div>
					<div>100% CAÑA LOCAL</div>
					<div>40% ALC.VOL MIN.</div>

					<div>Nacional ORGULLO</div>
				</div>
			</div>
		</div>
	</section>
</Layout>