---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <div>
                <p>Venezuela Libre</p>
                <p>Clásico refinado • Audaz y refrescante</p>
                <div>
                    <div>
                        <p>INGREDIENTES</p>
                        <div>
                            <div>
                                <p>Ron Obsidian de 12 años</p>
                            </div>
                            <div>
                                <p>60 ml</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>Reducción artesanal de cola</p>
                            </div>
                            <div>
                                <p>20 ml</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>Jugo de lima fresco</p>
                            </div>
                            <div>
                                <p>15 ml</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p>Amargo de Angostura</p>
                            </div>
                            <div>
                                <p>2 guiones</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>PREPARACIÓN</p>
                        <p>
                            Combina los ingredientes en un vaso alto previamente
                            enfriado con hielo tallado a mano. Remueve
                            suavemente para incorporar la reducción. Decora con
                            una rodaja de lima deshidratada y una ramita de
                            menta tostada.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <img src="/catalago1.png" alt="" />
            </div>
        </div>
        <div>
            <div>
                <p>El Nocturno</p>
                <p>Espíritu adelante</p>
                <p>Ron oscuro infusionado con cacao</p>
                <p>Vermut dulce</p>
                <p>Esencia de café</p>
            </div>
            <div>
                <img src="/catalago2.png" alt="" />
            </div>
        </div>
        <div>
            <p>Solera Sour</p>
            <p>
                Un sofisticado juego de texturas, que utiliza clara de huevo
                para crear una espuma sedosa que realza las notas especiadas del
                ron Solera.
            </p>
            <div>
                <div>
                    <p>Tiempo</p>
                    <p>5 minutos</p>
                </div>
                <div>
                    <p>Habilidad</p>
                    <p>Intermedio</p>
                </div>
            </div>
        </div>
        <div>
            <div>
             <img src="/catalago3.png" alt="">
             <p>NEGRONI ESPECIADO</p>
             <p>Edición Venezuela</p>
            </div>
        </div>
    </section>
</Layout>
