---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<div>
				<div>
					<p>Los Artesanos</p>
					<p>Maestros del Templado</p>
				</div>
				<div>
					<p>
						Conozca Las Mentes detras del balance perfecto entre
						fuego y sombra
					</p>
				</div>
			</div>

			<div>
				<div>
					<img src="/imagen3.png" alt="" />
					<div>
						<p>Elena Rodríguez</p>
						<p>Maestra Ronera Principal</p>
						<p>
							Con mas de 30 años de experiencia,Elena slecciona
							personalmente cada barrica, buscando notas de cuero
							y cacao amargo.
						</p>
					</div>
				</div>

				<div>
					<img src="/imagen4.png" alt="" />
					<div>
						<p>Carlos Mendoza</p>
						<p>Arquitetura de Maduración</p>
						<p>
							Especialista en madera,carlos es el responsable del
							innovador proceso de tostado de nuestras barricas de
							obsidiana
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div>
			<p>El Genesis en los Valles de Aragua</p>
			<p>
				En el corazón de Venezuela, donde el solo abrasa la tierra y la
				humedad abraza las hojas de caña, nació la visión de Obsidia
				Cellar.No buscamos cantidad,sino la esencia pura de la
				destilación artesanal bajo el estandar de la Denominación de
				Origen Controlada.
			</p>
			<p>
				Nuestros fundadores entendieron que el roble blanco americano no
				era solo un contenedor, sino un cómplice silencioso que
				transformaría ek aguardiente áspero en una seda líquida color
				color ámbar.
			</p>
		</div>
		<div>
			<img src="/imagen5.png" alt="" />
		</div>
	</section>
	<section>
		<div>
			<p>Historia de Maestía</p>
			<p>CRONOLOGÍA RON OBSIDIAN</p>
		</div>
		<div>
			<div>
				<p>1924</p>
				<p>La Primera Cosecha Real</p>
				<p>
					Tres años de experimentación, se sello el primer barril con
					el emblema de Obsidiana, marcando el inicio de nuestra
					reserva privada.
				</p>
			</div>
			<div>
				<p>1952</p>
				<p>Innovación en Alambiques</p>
				<p>
					Incorporamos los alambiques de cobre de cuello de
					cisne,permitiendo una extracción de aromas florales sin
					precedentes en el Caribe
				</p>
			</div>
			<div>
				<p>1988</p>
				<p>Certificaón de D.O.C.</p>
				<p>
					Fuimos pioneros en la estandarización del Ron de Venezuela,
					protegiendo la calidad y el nombre de nuestra herencia
					nacional.
				</p>
			</div>
		</div>
	</section>
	<section>
		<div>
			<div>
				<div><img src="/imagen6.png" alt="" /></div>
				<div>
					<div>
						<p>La perfección no se Apresura</p>
						<p>
							Cada botella de Obsidian es sometida a un riguroso
							proceso de evaluación sensorial. Desde la selección
							de la melaza tipo A hasta el tostado específico de
							cada barrica, mantenemos un estándar de excelencia
							que honra nuestro pasado.
						</p>
						<div>
							<p>TERRIOR</p>
							<p>Valle de ARAGUA,VENEZUELA</p>
							<p>MADURACIÓN</p>
							<p>MÍNIMO 12 AÑOS</p>
						</div>
					</div>
				</div>
			</div>
			<div>
				<img src="imagen7.png" alt="">
				<div>
					<img src="imagen8.png" alt="">
					<img src="imagen9.png" alt="">
				</div>
			</div>
		</div>
	</section>
</Layout>
