---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>Origen de Reserva</p>
			<p>El Alma de la Oscuridad</p>
			<p>
				Nacido de la mezcla volcánica y envejecido en el silencio de
				nuestras bodegas de obsidiana. Un tributo a la paciencia y en el
				arte del ron venezolano
				<button>Explorar Colección</button>
				<button>Nuestra Historia</button>
			</p>
		</div>
		<div>
			<img src="https://lh3.googleusercontent.com/aida-public/AB6AXuACocByCRRKYKreRJrC1kQ5O_SVOJDlu-ELDeSc9cNDBrz2XUfEG5PvYFAD4SiXalObrLYpCSwelwR-xNsds31o0mGylEzGsdBCCh_1GwZNtnkwNErR_X6UYonhQ1uWpzX9nEy-K2I8FJaLTSwKBViys-mlh6XXzITXFEw160SKvnwrpiqpMU9YAmyTrMfJPXIvXwv2KlGG7rqWUXyORh1VGsGmkR1pCRYL75Mcv2oo6XecIrWDZDkMmjck4fkvn2OVDzB4GQdFXT5A" alt="" />
		</div>
	</section>
	<section>
		<div>
			<img src="https://lh3.googleusercontent.com/aida-public/AB6AXuC5TDUUKmsvdKPNbhTyvbi4337nYynrbvvljHl8zvzbQcC8Ppa3BZn7UL3OJWnrSTlrK12JzSN0ZEvuvv4-siD_2DJnwGtRdACkVPRoPpT1Y9PYJ6SX2WSNRCf6maI-vDOQkhVR7Gf5dHJe6LYkd9qU07XUtZYj5LPk5xlZCAzVlhg9wkZ-AzcU2B7cqW7kQx9KoAnBqmWjVqlA7IxkIsAIDvFrvqj_aMr1wGfDRzUbULxqFw0J0xZkz477NDxTCY36PHOoEtqxadfS" alt="" />
			<div>
				<p>DENOMINACION DE ORIGEN CONTROLADA</p>
				<p>
					Cada gota de obsidian esta protegida por la ley. Nuestra
					certificación D.O.C garantiza que el ron ha sido envejecido
					en barricas de roble blanco por un minimo de dos años, sin
					reposición en mermas, capturando la esencia pura del terrior
					venezolano
				</p>
				<div>
					<div>100% CAÑA LOCAL</div>
					<div>40% ALC.VOL MIN.</div>
					<div>Nacional ORGULLO</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
