---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>Origen de Reserva</p>
			<p>El Alma de la Oscuridad</p>
			<p>
				Nacido de la mezcla volcánica y envejecido en el silencio de
				nuestras bodegas de obsidiana. Un tributo a la paciencia y en el
				arte del ron venezolano
			</p>
		</div>
		<div>
			<button>Explorar Colección</button>
			<button>Nuestra Historia</button>
		</div>
	</section>
</Layout>
