---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div>
            <p>El viaje alquímico</p>
            <p>El Proceso Sagrado DOC</p>
            <p>
                La elaboración del ron venezolano es un ejercicio de paciencia y
                precisión. Desde el suelo volcánico de los cañaverales hasta el
                roble tostado de la bodega, cada gota está protegida por la
                Denominación de Origen Controlada.
            </p>
        </div>
    </section>
    <section>
        <div>
            <div>
                <img src="procesos1.png" alt="" />
                <div>
                    <p>01</p>
                    <p>La Cosecha Noble</p>
                    <p>
                        Nuestro viaje comienza con la selección de variedades de
                        caña de azúcar de primera calidad, cultivadas en el
                        microclima único del Valle de Aragua. El alto contenido
                        mineral del suelo produce melaza de una riqueza
                        inigualable.
                    </p>
                </div>
            </div>
            <div>
                <p>Fase II: Transformación biológica</p>
                <p>Fermentación pura</p>
                <div>
                    <div>
                        <p>CIENCIA</p>
                        <p>
                            Levadura patentada Una variedad secreta cultivada
                            desde 1952, diseñada para extraer profundas notas
                            florales tropicales.
                        </p>
                    </div>
                    <div>
                        <p>TERMOSTATO</p>
                        <p>
                            Temperaturas controladas Los ciclos de enfriamiento
                            continuos garantizan que los delicados ésteres nunca
                            se quemen durante el período de máxima demanda de 48
                            horas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <p>02</p>
                    <p>Corazón de cobre</p>
                </div>
                <div>
                    <p>
                        La destilación se realiza en alambiques de cobre
                        tradicionales. Este método artesanal nos permite
                        seleccionar únicamente la esencia del destilado,
                        descartando las impurezas.
                    </p>
                </div>
                <div>
                    <p>Pureza: 96,5% vol.</p>
                    <p>Alambique: N.° 04</p>
                </div>
            </div>
            <div>
                <img src="/procesos3.png" alt="" />
                <div>
                    <p>EL SUEÑO SILENCIOSO</p>
                    <p>
                        Cada barril está hecho de roble blanco americano,
                        previamente utilizado para el bourbon. El destilado
                        respira a través de la madera, perdiendo la "parte de
                        los ángeles" debido al calor venezolano mientras
                        adquiere su profundo tono obsidiana.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <div>
                <p>100</p>
                <p>PUNTUACIÓN ARTESANAL</p>
            </div>
            <div>
                <div>
                    <p>ENVEJECIMIENTO</p>
                    <p>2 años.</p>
                </div>
                <div>
                    <p>TIPO DE BARRRIL</p>
                    <p>Roble Blanco</p>
                </div>
                <div>
                    <p>CERTIFICADO POR EL DEPARTAMENTO DE CORRECIONES</p>
                    <p>Sí</p>
                </div>
                <div>
                    <p>ORIGEN</p>
                    <p>Aragua,Venezuela.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <p>borrar esto</p>
    </section>
</Layout>
