---
import { Icon } from 'astro-icon/components'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>El Corazon del Caribe en una Copa</title>
	</head>
	<body>
		<header>
			<p>Un Legado Nacido Del Sol y La Tierra</p>

			<div>
				<a href="/">Inicio</a>
				<a href="/cocteleria-del-autor">Historia</a>
				<a href="/la-alquimia-de-la-tierra">Catalogo</a>
				<a href="/la-coleccion-del-autor-en-una-sola-copa">Procesos</a>
				<a href="/un-legado-nacido-del-sol-y-la-tierra">Cocteles</a>
				<header>
					<Icon name="icono1" />
				</header>
			</div>
			
			<div>
				
				<a href="/un-legado-nacido-del-sol-y-la-tierra">Registrarme</a>
				<a href="/un-legado-nacido-del-sol-y-la-tierra">Buscar</a>
				<a href="/un-legado-nacido-del-sol-y-la-tierra">Iniciar Sesion</a>
			</div>
		</header>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
